{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div id="update-page">

    <!-- Header Section -->
    {% if page.show_header and page.header_image %}
    <div id="header-section" class="full-height-section" 
         style="background-image: url('{{ page.header_image.file.url }}'); 
                background-size: cover; 
                background-position: center; 
                width: 100%; height: 100vh;">
        <div class="overlay">
            <div class="grid-container text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Information Section -->
    {% if page.show_information %}
    <div id="information-section" class="full-height-section" 
        style="background-image: url('{{ page.information_background_image.file.url }}');
                background-size: cover; 
                background-position: center; 
                width: 100%; 
                height: 100vh;
                background-color: black;">
        <div class="grid-container">
            <h2>Information</h2>
            <div class="information-content">
                {{ page.information|richtext }}
            </div>
            {% if page.pdf_document %}
            <a href="{{ page.pdf_document.url }}" class="button" target="_blank">Download PDF</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Pictures Section -->
    {% if page.show_pictures and page.pictures %}
    <div id="pictures-section" class="full-height-section" 
         style="background-image: url('{{ page.pictures.file.url }}'); 
                background-size: cover; 
                background-position: center; 
                width: 100%; height: 100vh;">
        <div class="grid-container text-center">
            <img src="{{ page.pictures.file.url }}" alt="Pictures Section" style="max-width: 100%; height: auto;">
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}