{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div id="custom-page">

    <!-- Header Section -->

    {% if page.header_image %}
    <div id="header-section" class="full-height-section"
        style="background-image: url('{{ page.header_image.file.url }}'); 
               background-size: cover; 
               background-position: center; 
               width: 100%; height: 100vh;">
        <div class="overlay">
            <div class="grid-container">
                <div class="grid-x align-middle">
                    <div class="cell">
                        <h1>{{ page.title }}</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div id="header-section" class="full-height-section no-bg-image"
        style="width: 100%; height: 100vh;">
    {% endif %}

     <!-- Child Pages Navigation Section -->
    {% with child_pages=page.get_children.live %}
      {% if child_pages %}
        <nav class="subpage-nav">
          <div class="subpage-nav-grid grid-container">
            {% for subpage in child_pages %}
              <a class="subpage-nav-card" href="{% pageurl subpage.specific %}">
                <div class="subpage-nav-card-content">
                  <h3>{{ subpage.specific.title }}</h3>
                  {% if subpage.specific.intro %}
                    <p>{{ subpage.specific.intro|richtext }}</p>
                  {% endif %}
                </div>
              </a>
            {% endfor %}
          </div>
        </nav>
      {% endif %}
    {% endwith %}

    <!-- Dynamic Sections -->
    {% for section in page.sections %}
    {% if section.value.visible %}
    <div class="full-height-section{% if not section.value.background_image %} no-bg-image{% endif %}"
        {% if section.value.background_image %}
            style="background-image: url('{{ section.value.background_image.file.url }}'); 
                   background-size: cover; 
                   background-position: center; 
                   width: 100%; height: 100vh;"
        {% else %}
            style="width: 100%; height: 100vh;"
        {% endif %}>
        <div class="grid-container">
            {% if section.value.title %}
            <h2>{{ section.value.title }}</h2>
            {% endif %}
            <div class="section-content">
                {{ section.value.content|richtext }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}