{% if menu %}
    <ul class="menu">
        {% for item in menu.items.all %}
            <li>
                {% if item.link_page %}
                    <a href="{{ item.link_page.url }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                        {{ item.title }}
                    </a>
                {% elif item.link_url %}
                    <a href="{{ item.link_url }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                        {{ item.title }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}