<!-- filepath: /home/chuck/Programs/tentmakersbiblemission/tentmakersbiblemission/templates/footer.html -->
{% load static %} 
<footer class="site-footer">
    <!-- <img class="footer-divider" src="{% static 'images/book_footer.svg' %}" alt="Tentmakers BIBLE Mission"> -->
    <div class="grid-container">
        <div class="grid-x">

            <div class="cell small-12 large-3">
                <a href="/" class="site-footer__brand" aria-label="Tentmakers Bible Mission home">
                    <img src="{% static 'images/tentmakersbiblemission_logo_white.svg' %}" alt="Tentmakers Bible Mission" class="site-footer__logo">
                </a>
            </div>
            <div class="cell small-12 large-5">
                <div class="site-footer-org">
                    <p class="site-footer_copyright">Copyright &copy; 2026</p>
                    <p class="site-footer_name">Tentmakers Bible Mission</p>
                    <p>PO Box 160 | 401B Highway 151</p>
                    <p>LaGrange, WY 82221</p>
                    <p><a href="tel:+13072239400">307-223-9400</a></p>
                </div>
            </div>
            <div class="cell small-12 large-4">
                <div class="site-footer_social-wrap">
                    <h4>Connect With Us</h4>
                    <ul class="site-footer__social">
                        <li><a href="mailto:info@tentmakersbiblemission.org" aria-label="Email"><i class="fa-solid fa-square-envelope"></i></a></li>
                        <li><a href="https://www.facebook.com/Tentmakers-Bible-Mission-110043115730854/" target="_blank" rel="noopener" aria-label="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/tentmakersbiblemission/" target="_blank" rel="noopener" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/user/TentmakersBible" target="_blank" rel="noopener" aria-label="YouTube"><i class="fa-brands fa-square-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/tentmakers-bible-mission/" target="_blank" rel="noopener" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</footer>