<!-- filepath: /home/chuck/Programs/tentmakersbiblemission/tentmakersbiblemission/templates/footer.html -->
<footer class="site-footer">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <h4>About Us</h4>
                <p>Tentmakers Bible Mission is dedicated to spreading the Gospel worldwide.</p>
            </div>
            <div class="cell small-12 medium-3">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="cell small-12 medium-3">
                <h4>Contact</h4>
                <p>Email: <a href="mailto:info@tbm.org">info@tbm.org</a></p>
                <p>Phone: +1 (555) 123-4567</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 text-center">
                <p>&copy; {{ now|date:"Y" }} Tentmakers Bible Mission. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>